.title-component h3 {
   font-family: "Gorditas";
    font-size: 24px;
    font-weight: 700;
    line-height: 31.94px;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.title-component p{
    width: 595px; 
    margin-bottom: 20px;
}

.title-component.shop-by-category .wrapper {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title-component.popular-products .wrapper {
    display: flex;
    gap:15px;
    align-items: center;
    margin-bottom: 20px;

}
.title-component.popular-products .wrapper h3 {
    margin-bottom: 0;
}

